.primary-info {
    font-size: 11px;
    position: absolute;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 600px;
    grid-template-rows: 40px [row-1] 100px [row-2] 400px [row-3];
    height: 100%;
    grid-area: body;
    color: #124269;
    align-self: start;
}

.greeting {
    justify-self: center;
    align-self: center;
    font-family: 'Oleo Script';
    font-size: 70px;
    grid-row-start: row-1;
    grid-row-end: row-2;
}

.text-background {
    background-color: #EEE2DC;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    grid-row: 3/4;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Playfair Display';
    font-size: 13px;
    border-style: double; 
    border-color: #124269;
    z-index: 10;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: oblique;
    color:  #AC3B61;
    border-style: none none double none;
    border-color: #124269;
}

.image {
    float: right;
    border-color: #124269;
    border-style: double;
    padding: 0;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.logo {
    margin-top: 5px;
}

.contact {
    margin-bottom: 5px;
}

a:link, a:visited {
    color: #124269;
  }
  
  a:hover, a:active {
    color: #AC3B61;
  }