.primary-container {
  height: 100%;
  width: 100%;
  display: grid;
  position: fixed;
  flex-direction: column;
  grid-template-rows: 10% [row-1] 90% [row-2];
  grid-template-columns: 20% [column-1] 60% [column-2] 20% [column-3];
  background-color: #282c34;
}

.primary-overlay {
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
}

.primary-overlay-hover {
  @extend .primary-overlay;
  opacity: 16%
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
