.primary-container {
  height: 100%;
  width: 100%;
  display: grid;
  position: absolute;
  align-items: center;
  justify-items: center;
  grid-template-rows: 10% [row1] 90% [row2];
  grid-template-columns: 20% [column1] 60% [column2] 20% [column3];
  grid-template-areas: 
    "navbar navbar navbar"
    "body body body" ;
  background-color: #282c34;
}

.primary-overlay {
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
}

.primary-overlay-hover {
  @extend .primary-overlay;
  opacity: 16%;
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #C0C0C0;
  text-decoration: underline;
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
