
.primary-navbar {
    background-color: #EDC7B7;
    font-size: 12.5px;
    position: absolute;
    display: grid;
    width: 100%;
    grid-area: navbar;
    grid-template-rows: 40px;
    grid-template-columns: repeat(5, 1fr);
    align-self: start;
    text-transform: uppercase;
    font-family: 'Open Sans';
    border-style: none none double none;
    border-color: #124269;
}

.navbar-container-home:hover, .navbar-container-education:hover, .navbar-container-experience:hover {
    cursor: pointer;
}

.navbar-container-title {
   grid-column: 1 / 2;
   place-self: center;
   color: #AC3B61;
}

.navbar-container-home {
    grid-column: 2 / 3;
    place-self: center;
}

.navbar-container-education {
    grid-column: 3 / 4;
    place-self: center;
}

.navbar-container-experience {
    grid-column: 4 / 5;
    place-self: center;
}

a:link, a:visited {
    color: #124269;
    z-index: 10;
    position: relative;
    text-decoration: none;
  }
  
  a:hover, a:active {
    color: #AC3B61;
    z-index: 10;
    position: relative;
    text-decoration: underline;
  }

  .primary-contact {
    background-color: #EDC7B7;
    font-size: 11px;
    position: relative;
    display: inline-grid;
    width: 100%;
    grid-area: info;
    grid-template-rows: 40px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end;
    font-family: 'Open Sans';
    border-style: double none none none;
    border-color: #124269;
}

.linkedin {
    grid-column: 2/3;
    place-self: center;
}

.phone {
    grid-column: 3/4;
    place-self: center;
    position: absolute;
}

.email {
    grid-column: 4/5;
    place-self: center;
}

