
.primary-navbar {
    color: white;
    font-size: 10px;
    opacity: 100%;
    position: absolute;
    display: grid;
    grid-area: navbar;
    grid-template-rows: 100% [row1];
    grid-template-columns: repeat(5, 1fr);
}

.navbar-container {
    color: white;
    grid-area: navbar;
}

.navbar-container-title {
    @extend .navbar-container;
   grid-column: 1 / 2;
   place-self: center;
}

.navbar-container-home {
    @extend .navbar-container;
    grid-column: 2 / 3;
    place-self: center;
}

.navbar-container-education {
    @extend .navbar-container;
    grid-column: 3 / 4;
    place-self: center;
}

.navbar-container-experience {
    @extend .navbar-container;
    grid-column: 4 / 5;
    place-self: center;
}
