
.primary-navbar {
    color: white;
    font-size: 10px;
    opacity: 100%;
    position: relative;
    padding: 0;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / column3;
    grid-template-rows: 10% [row1] 90% [row2];
    grid-template-columns: 20% [column-1] 10% [column-2] 10% [column-2] 10% [column-3] 50% [column-4];
}

.navbar-container {
    display: grid;
    justify-self: center;
    align-self: center;
}

.navbar-container-title {
    @extend .navbar-container;
   grid-column: 1 / 2;
    
}

.navbar-container-home {
    @extend .navbar-container;
    
}

.navbar-container-education {
    @extend .navbar-container;
    
}

.navbar-container-experience {
    @extend .navbar-container;
    
}
